# SQLite test

Je kunt alleen een verbinding maken met een bestaande database?

%LOAD path-to-database

Het is ook mogelijk om een database aan te maken, maar: er is geen mogelijkheid om CSV-bestanden om te zetten in een database. Dat moet dus met een andere kernel gebeuren - bijv. SQLite in Python.

In [1]:
%LOAD example.db

In [2]:
%GET_INFO

Magic header string: SQLite format 3
Page size bytes: 4096
File format write version: 1
File format read version: 1
Reserved space bytes: 0
Max embedded payload fraction 64
Min embedded payload fraction: 32
Leaf payload fraction: 32
File change counter: 112
Database size pages: 7
First freelist trunk page: 0
Total freelist trunk pages: 0
Schema cookie: 53
Schema format number: 4
Default page cache size bytes: 0
Largest B tree page number: 0
Database text encoding: 1
User version: 0
Incremental vaccum mode: 0
Application ID: 0
Version valid for: 112
SQLite version: 3038003

In [5]:
SELECT *
FROM leden;

+-------+----------+------------+--------------------+
| lidnr | voornaam | achternaam | email              |
+-------+----------+------------+--------------------+
| 1     | Hans     | de Boer    | hdebo@ziggo.nl     |
+-------+----------+------------+--------------------+
| 2     | Marie    | Verkerk    | marie@verkerk.nl   |
+-------+----------+------------+--------------------+
| 3     | Jantien  | Gerards    | jgerards@gmail.com |
+-------+----------+------------+--------------------+
| 4     | Marie    | Zandstra   | marie123@ziggo.nl  |
+-------+----------+------------+--------------------+
| 5     | Erica    | Bezos      | erica@amazon.com   |
+-------+----------+------------+--------------------+