# SQL: selectie en projectie

Voordat we een database kunnen gebruiken, moeten we eerst de verbinding daarmee maken.
Dit gebeurt met de onderstaande (meta) opdracht:

In [18]:
%LOAD example.db

## Database tabellen

Voor de volledigheid geven we hier een overzicht van de tabellen in de database.

In [19]:
SELECT * FROM leden;

+-------+----------+------------+--------------------+
| lidnr | voornaam | achternaam | email              |
+-------+----------+------------+--------------------+
| 1     | Hans     | de Boer    | hdebo@ziggo.nl     |
+-------+----------+------------+--------------------+
| 2     | Marie    | Verkerk    | marie@verkerk.nl   |
+-------+----------+------------+--------------------+
| 3     | Jantien  | Gerards    | jgerards@gmail.com |
+-------+----------+------------+--------------------+
| 4     | Marie    | Zandstra   | marie123@ziggo.nl  |
+-------+----------+------------+--------------------+

In [3]:
SELECT * FROM events;

+---------+------------+---------------------------+
| eventnr | datum      | beschrijving              |
+---------+------------+---------------------------+
| 1       | 2019-08-21 | Schaaktoernooi Breda      |
+---------+------------+---------------------------+
| 2       | 2019-08-28 | Schaaktoernooi Breda      |
+---------+------------+---------------------------+
| 3       | 2019-08-28 | Schaaktoernooi Assen      |
+---------+------------+---------------------------+
| 4       | 2019-09-15 | Schaaktoernooi Amersfoort |
+---------+------------+---------------------------+

In [4]:
SELECT * from inschrijvingen;

+---------+-------+------------+
| eventnr | lidnr | maaltijd   |
+---------+-------+------------+
| 1       | 1     | maaltijd A |
+---------+-------+------------+
| 2       | 1     | maaltijd B |
+---------+-------+------------+
| 3       | 2     | geen       |
+---------+-------+------------+
| 4       | 3     | maaltijd A |
+---------+-------+------------+

----

## Selectie

Je kunt de rijen van een tabel selecteren op basis van een *voorwaarde*.
In de SQL SELECT-opdracht geef je de conditie op na `WHERE`.
Dit kunt condities samenstellen met behulp van logische en rekenkundige opereratoren, zoals vergelijkingen.

**Opmerking:** door de constructie `FROM leden lid` is `lid` een alternatieve naam (*alias*) voor `leden`.
We gebruiken dit om de voorwaarde (bij `WHERE`) logischer te formuleren.

In [5]:
SELECT * FROM leden lid
WHERE lid.lidnr > 1;

+-------+----------+------------+--------------------+
| lidnr | voornaam | achternaam | email              |
+-------+----------+------------+--------------------+
| 2     | Marie    | Verkerk    | marie@verkerk.nl   |
+-------+----------+------------+--------------------+
| 3     | Jantien  | Gerards    | jgerards@gmail.com |
+-------+----------+------------+--------------------+
| 4     | Marie    | Zandstra   | marie123@ziggo.nl  |
+-------+----------+------------+--------------------+
| 5     | Erica    | Bezos      | erica@amazon.com   |
+-------+----------+------------+--------------------+

:::{exercise} Selecteer de eerste events

Selecteer de rijen in de tabel `events` waarvoor het `eventnr` kleiner dan 4 is.
Vervang hieronder de voorwaarde `TRUE`door de juiste voorwaarde.
:::

In [6]:
SELECT * FROM inschrijvingen ins
WHERE TRUE;

+---------+-------+------------+
| eventnr | lidnr | maaltijd   |
+---------+-------+------------+
| 1       | 1     | maaltijd A |
+---------+-------+------------+
| 2       | 1     | maaltijd B |
+---------+-------+------------+
| 3       | 2     | geen       |
+---------+-------+------------+
| 4       | 3     | maaltijd A |
+---------+-------+------------+

## Projectie

Je kunt selectie combineren met *projectie*: daarin geef je aan welke kolommen in het resultaat voorkomen.
De andere kolommen worden weggelaten.

In de SQL SELECT-opdracht geef je de namen van de kolommen van de projectie als eerste op.
De volgorde mag daarbij anders zijn dan in de oorspronkelijke tabel:
je kijgt als resultaat een tabel met de kolommen die je opgeeft.

**Opmerking:** In de praktijk is het handig om *altijd* de namen van de geselecteerde kolommen op te geven, 
in plaats van `*`. Je weet dan zeker wat je als resultaat kunt verwachten, 
ook als er in de definitie van de tabel bijvoorbeeld een kolom bij gekomen is, of als de volgorde van de kolommen veranderd is.

In [7]:
SELECT email, achternaam FROM leden;

+--------------------+------------+
| email              | achternaam |
+--------------------+------------+
| hdebo@ziggo.nl     | de Boer    |
+--------------------+------------+
| marie@verkerk.nl   | Verkerk    |
+--------------------+------------+
| jgerards@gmail.com | Gerards    |
+--------------------+------------+
| marie123@ziggo.nl  | Zandstra   |
+--------------------+------------+
| erica@amazon.com   | Bezos      |
+--------------------+------------+

Een tabel kan ook uit een enkele kolom bestaan:

In [13]:
SELECT voornaam FROM leden;

+----------+
| voornaam |
+----------+
| Hans     |
+----------+
| Marie    |
+----------+
| Jantien  |
+----------+
| Marie    |
+----------+
| Erica    |
+----------+

Zoals je ziet komen hierin bepaalde namen dubbel voor. Als je geen dubbele rijen wilt, gebruik je `SELECT DISTINCT`.

Als je een lange lijst met kolomnamen hebt, noteer je deze onder elkaar, *met de komma vooraan*.
Op die manier kun je de lijst gemakkelijk aanpassen.

In [14]:
SELECT voornaam
,      achternaam
,      email
FROM leden;

+----------+------------+--------------------+
| voornaam | achternaam | email              |
+----------+------------+--------------------+
| Hans     | de Boer    | hdebo@ziggo.nl     |
+----------+------------+--------------------+
| Marie    | Verkerk    | marie@verkerk.nl   |
+----------+------------+--------------------+
| Jantien  | Gerards    | jgerards@gmail.com |
+----------+------------+--------------------+
| Marie    | Zandstra   | marie123@ziggo.nl  |
+----------+------------+--------------------+
| Erica    | Bezos      | erica@amazon.com   |
+----------+------------+--------------------+

### Opdracht

Je kunt selectie (van rijen) en projectie (van kolommen) ook combineren:

Selecteer de rijen van de leden waarvoor de voornaam voor de "M" valt,
en druk daarvan de voornaam en de achternaam af (projectie).
Vervang in de onderstaande opdracht daarvoor de `*` en de `TRUE`.

In [15]:
SELECT * FROM leden lid
WHERE TRUE;

+-------+----------+------------+--------------------+
| lidnr | voornaam | achternaam | email              |
+-------+----------+------------+--------------------+
| 1     | Hans     | de Boer    | hdebo@ziggo.nl     |
+-------+----------+------------+--------------------+
| 2     | Marie    | Verkerk    | marie@verkerk.nl   |
+-------+----------+------------+--------------------+
| 3     | Jantien  | Gerards    | jgerards@gmail.com |
+-------+----------+------------+--------------------+
| 4     | Marie    | Zandstra   | marie123@ziggo.nl  |
+-------+----------+------------+--------------------+
| 5     | Erica    | Bezos      | erica@amazon.com   |
+-------+----------+------------+--------------------+