# SQL CRUD

In [1]:
%LOAD example3.db

----

## CRUD

Met de afkorting CRUD geven we de basisoperaties op een database aan: Create, Read, Update, en Delete.
Hieronder geven we de SQL-opdrachten die daarmee overeenkomen. We geven daarbij ook aan hoe deze samenhangen met eventuele constraints van de database.

### Create (INSERT)

Met de INSERT opdracht voegen we een nieuwe rij aan een tabel toe (create).
Ter controle vragen we de tabel voor en na de INSERT op.

In [2]:
SELECT *
FROM leden;

+-------+----------+------------+--------------------+
| lidnr | voornaam | achternaam | email              |
+-------+----------+------------+--------------------+
| 1     | Hans     | de Boer    | hdebo@ziggo.nl     |
+-------+----------+------------+--------------------+
| 2     | Marie    | Verkerk    | marie@verkerk.nl   |
+-------+----------+------------+--------------------+
| 3     | Jantien  | Gerards    | jgerards@gmail.com |
+-------+----------+------------+--------------------+
| 4     | Marie    | Zandstra   | marie123@ziggo.nl  |
+-------+----------+------------+--------------------+

In [ ]:
INSERT INTO leden (voornaam, achternaam, email) 
VALUES ('Erica', 'Bezos', 'erica@amazon.com');

**Opmerking.** We geven het lidnr (de primary key) hier niet op: dit nummer wordt automatisch door SQLite ingevuld,
als uniek volgnr. 

Controleer of inderdaad het nieuwe lid toegevoegd is (met een uniek `lidnr`):

In [ ]:
SELECT *
FROM leden;

**Constraint error(s) bij INSERT**. Nogmaals uitvoeren van de INSERT-opdracht geeft een foutmelding (bovenaan): *UNIQUE constraint failed: leden.email*.
We hebben immers aangegeven dat het `mail`-adres uniek moet zijn (constraint).

In [ ]:
INSERT INTO leden (voornaam, achternaam, email) 
VALUES ('Erica', 'Bezos', 'erica@amazon.com');

::{exercise} Insert met zelfde naam

Voer de INSERT-opdracht nogmaals uit, met dezelfde namen, en een *ander emailadres*. 
Controleer vervolgens het resultaat. Wat is er gebeurd?
:::

In [ ]:
SELECT *
FROM leden;

### Read (SELECT)

Met de SELECT-opdracht zoals we hierboven gebruikt hebben kun je de data uit de database lezen.
Het resultaat van SELECT is altijd een tabel; in sommige gevallen bestaat deze uit 1 rij, als we een bestaande rij willen lezen. Soms is de tabel leeg: er zijn dan geen rijen gevonden die aan de voorwaarde voldoen.

In [ ]:
SELECT lid.lidnr, lid.voornaam, lid.achternaam, lid.email
FROM leden lid
WHERE lid.voornaam='Jantien';

**Opdracht** Pas bovenstaande zoekopdracht aan zodat deze 0 rijen oplevert; en zodat deze meerdere rijen oplevert.

## Update (UPDATE)

Met de UPDATE opdracht kun je een bestaande rij selectief veranderen.
In het onderstaande voorbeeld passen we de voornaam aan:

In [ ]:
UPDATE leden
SET voornaam = "Janny"
WHERE voornaam = "Jantien";

In [ ]:
SELECT * from LEDEN;

* Ga na dat herhalen van deze opdracht hetzelfde resultaat oplevert.
* Ga na dat een update voor een lege selectie geen foutmelding oplevert.
* Ga na of je in een UPDATE opdracht meerdere rijen kunt veranderen. Kun je bijvoorbeeld alle "Marie"-s veranderen in "Maria"-s?

### Delete (DELETE)

Met de DELETE opdracht verwijder je een rij uit de database.

In [ ]:
DELETE FROM leden
WHERE voornaam="Erica";

In [ ]:
SELECT * FROM leden;

**Opdracht**. Ga na dat herhalen van de bovenstaande opdracht geen problemen oplevert: het verwijderen van een niet-bestaand element slaagt "per definitie". DELETE is een *idempotente* opdracht: deze heeft dezelfde betekenis als je deze eenmaal of vaker uitvoert.

## Herstel de database

Met de bovenstaande opdrachten heb je de leden-tabel mogelijk behoorlijk verziekt.
Met de onderstaande opdracht herstel je de oorspronkelijke tabel weer:

In [ ]:
SELECT name FROM sqlite_master WHERE type='table';

In [ ]:
SELECT * FROM sqlite_master;

In [ ]:
SELECT name, sql
FROM sqlite_master
WHERE type='table';